.landing-bg {
  background-color: #f4f4f4;
  background-image: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
}

.btn-custom-red {
  background-color: #E30022; 
  border-color: #E30022;
  color: white;
  transition: all 0.3s ease;
}

.btn-custom-red:hover {
  background-color: #B3001B;
  border-color: #B3001B;
  color: white;
  transform: scale(1.05); 
}

.btn-outline-dark {
  transition: all 0.3s ease;
}
.btn-outline-dark:hover {
  transform: scale(1.05);
}